In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# Step 1: Load Data

In [6]:
df = pd.read_csv('./zoo.csv')

In [7]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [8]:
# Step 2: Prepare data

In [9]:
y = df['class_type'].values

In [10]:
x = df.iloc[:,1:17].values

In [11]:
# Step 3: Split data into train and test set

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [14]:
# Step 4: Create Classifier

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
knn = KNeighborsClassifier(n_neighbors=5, metric = "minkowski", p=1)

In [17]:
# Step 5: Model Training

In [18]:
knn.fit(x_train, y_train)

KNeighborsClassifier(p=1)

In [19]:
# Step 6: Predict Data

In [20]:
y_pred = knn.predict(x_test)

In [21]:
y_pred

array([6, 6, 1, 5, 1, 4, 2, 1, 2, 1, 2, 4, 4, 4, 4, 1, 6, 1, 1, 1, 2, 4,
       2, 4, 5, 6, 1, 7, 1, 4, 2], dtype=int64)

In [22]:
# Step 7: Evaluation

In [23]:
from sklearn.metrics import accuracy_score, precision_score

In [24]:
accuracy_score(y_test, y_pred)

0.8064516129032258

In [25]:
# Step 8: Save model

In [26]:
import joblib

In [27]:
joblib.dump(knn, "animal_classifier.pkl")

['animal_classifier.pkl']